node_modules
.DS_Store

# Comment this to add videos to source control.
# Enabling Git LFS is recommended.
# https://remotion.dev/docs/recorder/source-control
public/**/*.{mp4,webm,mov}

# Vite's output directory
dist

# Location of Whisper.cpp binary and model
whisper.cpp

# Directory for local renders
out

# Environment variables, e.g. for cloud rendering
.env

